<div class="container" cdkDropListGroup>
  <div class="calendar-container">
    <div class="calendar-header">
      <div>

        <!-- View Switch Toggle -->
        <mat-button-toggle-group class="calendar-view-toggle"
                                 name="currentView"
                                 [(ngModel)]="currentView"
                                 (change)="switchToView($event.value)"
                                 aria-label="Calendar-View">
          <mat-button-toggle value="week">Week</mat-button-toggle>
          <mat-button-toggle value="day">Day</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="calendar-controls">
        <button mat-flat-button
                color="primary"
                (click)="selectDate()"
                (keydown.enter)="selectDate()"
                (keydown.space)="selectDate()">
          Add Appointment
        </button>

        <button mat-button
                (click)="showTeachersDropdown = !showTeachersDropdown"
                *ngIf="!selectedTeacher">
          Filter by Teacher
        </button>

        <mat-select *ngIf="showTeachersDropdown"
                    placeholder="Select Teacher"
                    (selectionChange)="filterByTeacher($event.value)">
          <mat-option *ngFor="let teacher of uniqueTeachers"
                      [value]="teacher">
            {{ teacher }} ({{ getTeacherTotalHours(teacher) }} hrs)
          </mat-option>
        </mat-select>

        <button mat-icon-button
                (click)="toggleTeacherSort()"
                *ngIf="showTeachersDropdown"
                aria-label="Toggle Teacher Sort">
          {{ getTeacherSortLabel() }}
        </button>

        <button *ngIf="selectedTeacher"
                mat-button
                (click)="clearTeacherFilter()">
          Clear Filter
        </button>
      </div>
    </div>

    <!-- Week View -->
    <table width="100%"
           cellspacing="0"
           cellpadding="0"
           class="calendar-view-week"
           *ngIf="currentView === 'week'">
      <thead>
        <tr>
          <th class="time-column"></th>
          <th *ngFor="let day of monthDays">
            {{ day | date:'EEEE' }} <!-- Tylko nazwy dni tygodnia -->
          </th>
        </tr>
      </thead>

      <tbody cdkDropListGroup>
        <tr *ngFor="let timeSlot of timeSlots">
          <td class="calendar-slot-cell">
            <span>{{ timeSlot }}</span>
          </td>
          <td *ngFor="let day of monthDays"
              cdkDropList
              (cdkDropListDropped)="drop($event, day, timeSlot)"
              [cdkDropListData]="appointments">
            <div (click)="selectDate(day, timeSlot)"
                 (keydown.enter)="selectDate(day, timeSlot)"
                 (keydown.space)="selectDate(day, timeSlot)"
                 class="cell-overlay"
                 tabindex="0"></div>

            <div *ngFor="let appointment of getFilteredAppointmentsForDateTime(day, timeSlot)"
                 cdkDrag
                 cdkDragHandle
                 [cdkDragData]="appointment"
                 class="appointment"
                 [ngClass]="{'selected-teacher': selectedTeacher && appointment.teacher === selectedTeacher}"
                 (click)="editAppointment(appointment, $event)">
              <div class="appointment-content">
                <span class="appointment-title">{{ appointment.title }}</span>
                <span class="appointment-teacher">{{ appointment.teacher }}</span>
                <span class="appointment-time">
                  {{ appointment.startTime }} - {{ appointment.endTime }}
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Day View -->
    <table width="100%"
           cellspacing="0"
           cellpadding="0"
           class="calendar-view-day"
           *ngIf="currentView === 'day'">
      <thead>
        <tr>
          <th class="time-column"></th>
          <th>
            {{ monthDays[0] | date:'fullDate' }}
          </th>
        </tr>
      </thead>
      <tbody cdkDropListGroup>
        <tr *ngFor="let timeSlot of timeSlots">
          <td class="calendar-slot-cell">
            <span>{{ timeSlot }}</span>
          </td>
          <td cdkDropList
              (cdkDropListDropped)="drop($event, monthDays[0], timeSlot)"
              [cdkDropListData]="appointments">
            <div (click)="selectDate(monthDays[0], timeSlot)"
                 (keydown.enter)="selectDate(monthDays[0], timeSlot)"
                 (keydown.space)="selectDate(monthDays[0], timeSlot)"
                 class="cell-overlay"
                 tabindex="0"></div>

            <div *ngFor="let appointment of getFilteredAppointmentsForDateTime(monthDays[0], timeSlot)"
                 cdkDrag
                 cdkDragHandle
                 [cdkDragData]="appointment"
                 class="appointment"
                 [ngClass]="{'selected-teacher': selectedTeacher && appointment.teacher === selectedTeacher}"
                 (click)="editAppointment(appointment, $event)">
              <div class="appointment-content">
                <span class="appointment-title">{{ appointment.title }}</span>
                <span class="appointment-teacher">{{ appointment.teacher }}</span>
                <span class="appointment-time">
                  {{ appointment.startTime }} - {{ appointment.endTime }}
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
